@import url("reset.css");
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

/* lato-regular - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/lato-v22-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/lato-v22-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/lato-v22-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/lato-v22-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/lato-v22-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/lato-v22-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
  }
  /* lato-700 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/lato-v22-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/lato-v22-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/lato-v22-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/lato-v22-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/lato-v22-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/lato-v22-latin-700.svg#Lato') format('svg'); /* Legacy iOS */
  }
  /* lato-900 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/lato-v22-latin-900.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/lato-v22-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/lato-v22-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/lato-v22-latin-900.woff') format('woff'), /* Modern Browsers */
         url('../fonts/lato-v22-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/lato-v22-latin-900.svg#Lato') format('svg'); /* Legacy iOS */
  }

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Lato';
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    color: #102746;
}

img {
    max-width: 100%;
    height: auto;
}

.wrapper {
    max-width: 1060px;
    margin: 0 auto;
}

.wrapper-full {
    max-width: 1262px;
    margin: 0 auto;
}

.section-title {
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    position: relative;
    padding-bottom: 10px;
}

.section-title::after {
    display: block;
    content: '';
    width: 253px;
    height: 3px;
    background: rgba(0, 109, 254, 1);
    position: absolute;
    bottom: 0;
    left: 0;
}

/* -------------------------- HEADER ------------------------- */

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.header_wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 56px;
}

.header_list {
    display: flex;
    flex-wrap: wrap;
}

.header_item {
    margin-right: 82px;
}

.header_item:last-child {
    margin-right: 0;
}

.header_link {
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    text-decoration: none;
}

.header_link:hover,
.header_link:focus,
.header_link:active {
    opacity: .75;
}

/* -------------------------- SECTION INTRO ------------------------- */

.intro {
    min-height: 100vh;
    background: url('../img/hero.jpg') no-repeat center;
    background-size: cover;
    padding-top: 263px;
    /*padding-bottom: 223px;*/
    padding-bottom: 376px;
}

.intro_title {
    max-width: 619px;
    margin-bottom: 22px;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    color: #fff;
}

.intro_subtitle {
    max-width: 546px;
    margin-bottom: 59px;
    color: #fff;
    line-height: 24px;
}

.search-form_info {
    display: flex;
    flex-wrap: wrap;
}

.search-form_field {
    width: 297px;
    background: transparent url('../img/svg/Oval.svg') no-repeat left 6px;
    background-size: 20px;
    border: 0;
    border-bottom: 2px solid #BFC0C5;
    margin-right: 60px;
    padding-left: 43px;
    padding-bottom: 22px;
    font-weight: 500;
    font-size: 18px;
    color: #fff;
}

.search-form_field::-webkit-input-placeholder {
    font-weight: 500;
    font-size: 18px;
    color: #fff;
}

.search-form_submit {
    padding: 15px 39px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 24px;
    color: #fff;
    background-color: #1B7DFF;
    border: 0;
}

.search-form_submit:hover,
.search-form_submit:focus,
.search-form_submit:active {
    background-color: rgb(4, 98, 221);
}

/* -------------------------- SECTION BENEFITS ------------------------- */

.benefits {
    margin-bottom: 131px;
}

.benefits_wrap {
    max-width: 1262px;
    background-color: #fff;
    margin: 0 auto;
    box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
    position: relative;
}

.benefits_title {
    width: 100%;
    padding: 93px 100px 88px 100px;
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    background-color: #fff;
}

.benefits_cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 55px;
    padding: 0 100px;
}

.benefits_card {
    margin-bottom: 112px;
    grid-column: span 1;
}

.benefits_card-pic {
    max-width: 66px;
    height: 66px;
    margin-bottom: 37px;
}

.benefits_card-thumb {
    display: block;
}

.benefits_card-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 26px;
}

.benefits_card-dec {
    line-height: 24px;
    margin-bottom: 39px;
}

.benefits_card-more {
    display: inline-block;
    padding-right: 59px;
    line-height: 24px;
    text-decoration: none;
    text-transform: uppercase;
    color: #006DFE;
    background: url('../img/svg/arrow-right-ico.svg') no-repeat 95% center;
    transition: .2s;
}

.benefits_card-more:hover,
.benefits_card-more:focus {
    background: url('../img/svg/arrow-right-ico.svg') no-repeat right center;
}

/* -------------------------- SECTION PLACES ------------------------- */

.places {
    margin-bottom: 131px;
}

.places-caption {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 36px;
}

.places-title {
    margin-right: 15px;
}

.places-view-all {
    padding-right: 59px;
    line-height: 24px;
    text-decoration: none;
    text-transform: uppercase;
    color: #006DFE;
    background: url('../img/svg/arrow-right-ico.svg') no-repeat right center;
    transition: .2s;
}

.places-view-all:hover,
.places-view-all:focus {
    opacity: .65;
}

.places-cards {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
}

.places-card {
    position: relative;
    overflow: hidden;
}

.places-card::after {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: rgba(21, 24, 36, 0.4); 
}

.places-card:hover  .places-card-pic {
    transform: scale(1.05);
}

.places-card-title {
    font-size: 50px;
    line-height: 60px;
    color: #fff;
    position: absolute;
    bottom: 27px;
    left: 29px;
    z-index: 3;
}

.places-card-size-lg {
    grid-column: span 3;
}

.places-card-size-sm {
    grid-column: span 2;
}

.places-card-pic {
    width: 100%;
    transition: .15s;
}

.places-card-pic-size-lg {
    height: 354px;
    object-fit: cover;
}

.places-card-pic-size-sm {
    height: 283px;
    object-fit: cover;
}

.places-card-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
}

/* -------------------------- SECTION TOURS ------------------------- */

.tours {
    margin-bottom: 139px;
}

.tours_tour {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 108px;
    align-items: center;
    margin-bottom: 77px;
}

.tours_tour:nth-child(even) {
    direction: rtl;
}

.tour_title {
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 85px;
}

.tour_info {
    text-align: left;
    padding-left: 47px;
}

.tour_desc {
    line-height: 24px;
    margin-bottom: 58px;
}

.tour_more {
    display: inline-block;
    padding-right: 59px;
    line-height: 24px;
    text-decoration: none;
    text-transform: uppercase;
    color: #006DFE;
    background: url('../img/svg/arrow-right-ico.svg') no-repeat 95% center;
    transition: .2s;
}

.tour_more:hover,
.tour_more:focus {
    background: url('../img/svg/arrow-right-ico.svg') no-repeat right center;
}

/* -------------------------- SECTION TOP ------------------------- */

.top {
    margin-bottom: 86px;
}

.top_title {
    margin-bottom: 54px;
}

.top_cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 57px;
}

.top_card {
    display: flex;
    flex-direction: column;
}

.top_card-pic {
    position: relative;
    margin-bottom: 45px;
}

.top_card-stats {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(21, 24, 36, 0.6);
    padding: 16px 25px;
}

.top_card-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    margin: 0 auto 0 0;
}

.top_card-likes {
    font-weight: 500;
    line-height: 24px;
    color: #fff;
    padding-right: 20px;
    background: url('../img/svg/heart-ico.svg') no-repeat right;
    background-size: 16px;
    margin-right: 14px;
}

.top_card-comments {
    font-weight: 500;
    line-height: 24px;
    color: #fff;
    padding-right: 23px;
    background: url('../img/svg/comment-ico.svg') no-repeat right;
    background-size: 14px;
}

.top_card-desc {
    margin-bottom: 31px;
}

.top_card-more {
    width: 118px;
    padding: 12px 19px;
    margin: auto 0 0 0;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    background: #006DFE;
}

.top_card-more:hover,
.top_card-more:focus,
.top_card-more:active {
    background-color: rgb(4, 98, 221);
}